blinker==1.5
click==7.1.2
colorama==0.4.6
Flask==1.1.4
Flask-Login== 0.5.0
Flask-SQLAlchemy==2.5.1
greenlet==2.0.2
gunicorn==19.10.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
SQLAlchemy==1.4.49
typing_extensions==3.10.0.2
Werkzeug==2.3.6
